<div class='m-r-20'>
	<span><%= t("language") %>:</span>
	<%= select_tag(:language_select, options_for_select([['English','en'],['Spanish','es']], I18n.locale ), class: "select select2") %>
</div>


<script type="text/javascript">
  $('select#language_select').select2()
</script>